/* Body & Navbar */
body {
    background-color: #303030;
    color: white;
    font-family: Arial, sans-serif;
}

.navbar {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: lightsteelblue;
    border-bottom: 1px solid black;
}

.TitleHeader {
    text-decoration: none;
    color: black;
}

/* Layout */

.divRow,
.divFlexableRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.divColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

/* Global Fights Table */


/* Footer */

.footer {
    position: relative;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    color: white;
}