<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WikiWarriorsWebsite</title>

    <script type="importmap"></script>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WikiWarriorsWebsite.styles.css" asp-append-version="true" />
</head>
<body>

    <nav class="navbar">
        <div class="navInner">
            <div class="brandBlock">
                <img src="~/swordLeft.png"
                     class="navDecorationImage"
                     alt="Sword" />

                <h1 class="siteTitle">
                    <a class="TitleHeader" href="/">Wiki Warriors</a>
                </h1>

                <img src="~/swordRight.png"
                     class="navDecorationImage"
                     alt="Sword" />
            </div>

            <div class="dropdown">
                <button class="navMenuButton dropdown-toggle"
                        type="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                    Menu
                </button>

                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/">Home</a></li>
                    <li><a class="dropdown-item" href="/Selection">Fight</a></li>
                    <li><a class="dropdown-item" href="/Privacy">Privacy</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="container">
            &copy; 2026 - The League of Extraordinary Coders -
            <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>