<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        @ViewData["Title"] - WikiWarriorsWebsite
    </title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WikiWarriorsWebsite.styles.css" asp-append-version="true" />
</head>

<body style="background-color:#222729; color:floralwhite;">

    <nav class="navbar">

        <div class="divFlexableRow">

            <div class="divRow">

                <img src="~/swordLeft.png"
                     class="decorationImage"
                     alt="Sword"
                     style="max-width:20%" />

                <h1>
                    <a class="TitleHeader" href="/">
                        Wiki Warriors
                    </a>
                </h1>

                <img src="~/swordRight.png"
                     class="decorationImage"
                     alt="Sword"
                     style="max-width:20%" />
            </div>

            <div class="divRow">

                <img src="~/flame.png"
                     class="decorationImage"
                     alt="Cool Flames"
                     style="max-width:20%" />

                <h2>
                    <a style="text-decoration:none; color:maroon;"
                       href="/Selection">
                        FIGHT
                    </a>
                </h2>

                <img src="~/flame.png"
                     class="decorationImage"
                     alt="Cool Flames"
                     style="max-width:20%" />
            </div>
        </div>
    </nav>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">

        <div class="container">

            &copy; 2026 - WikiWarriorsWebsite -
            <a asp-area="" asp-page="/Privacy">
                Privacy
            </a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>