################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WikiWarriorsWebsite/.vs/WikiWarriorsWebsite.slnx/FileContentIndex/bf1b33ee-bb96-4693-aa6f-fd1800d31a3c.vsidx
/WikiWarriorsWebsite/.vs/WikiWarriorsWebsite.slnx/FileContentIndex/bf1b33ee-bb96-4693-aa6f-fd1800d31a3c.vsidx
/WikiWarriorsWebsite/.vs/WikiWarriorsWebsite.slnx/FileContentIndex/bf1b33ee-bb96-4693-aa6f-fd1800d31a3c.vsidx
