@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    <div class="divFlexableRow">
        <div class="divRow">
            <img src="~/swordLeft.png" class="decorationImage" alt="Sword" />
            <h1>
                <a href="/">Wiki Warriors</a>
            </h1>
            <img src="~/swordRight.png" class="decorationImage" alt="Sword" />
        </div>
        <div class="divRow">
            <img src="~/flame.png" class="decorationImage" alt="Cool Flames" />
            <h2 style="color: maroon">
                <a href="/Selection">FIGHT</a>
            </h2>
            <img src="~/flame.png" class="decorationImage" alt="Cool Flames" />
        </div>
    </div>

    <hr />
    <p>Welcome to THE WIKI WARRIORS. A website all about sending wikipedia pages to "Fight" (Have a friendly competition) to the "Death" (Fainting, we don't condone violence)</p>

    <div class="divFightOfTheDay"> ***Fight of the day goes here***</div>
    <div class="divGlobalFights"> ***Global fights here***</div>
</div>
