@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<script>
    function hidePopup() {
        document.getElementById("divPopup").style.display = "none";
    }
</script>

<style>

    .imgSquare {
        object-fit: cover;
        width: 250px;
        height: 250px;
    }

    /* Popup style */
    .popup {
        display: @ViewData["popupDisplay"];
        position: fixed;
        left: 10%;
        right: 10%;
        top: 10%;
        bottom: 10%;
        width: 80%;
        max-width: 500px;
        border: 2px solid red;
        background-color: lightgray;
        z-index: 9;
    }

    .btnClose {
        float: right;
    }
    
    /* Homepage content style */
    .divRow {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    .divFlexableRow {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    .decorationImage {
        max-width: 20%
    }
    /* Two ATs before a media query, it's a workaround because ASP.NET misinterpets a single AT */
    @@media screen and (max-width: 960px) {
        .divFlexableRow {
            flex-direction: column;
        }
    }
</style>

<div class="text-center">

    <div class="divFlexableRow">
        <div class="divRow">
            <img src="~/swordLeft.png" class="decorationImage" alt="Sword" />
            <h1>
                <a href="/">Wiki Warriors</a>
            </h1>
            <img src="~/swordRight.png" class="decorationImage" alt="Sword" />
        </div>
        <div class="divRow">
            <img src="~/flame.png" class="decorationImage" alt="Cool Flames" />
            <h2 style="color: maroon">
                <a href="/Selection">FIGHT</a>
            </h2>
            <img src="~/flame.png" class="decorationImage" alt="Cool Flames" />
        </div>
    </div>

    <hr />
    <p>Welcome to THE WIKI WARRIORS. A website all about sending wikipedia pages to "Fight" (Have a friendly competition) to the "Death" (Fainting, we don't condone violence)</p>

    <div class="divFightOfTheDay"> ***Fight of the day goes here***</div>
    <div class="divGlobalFights"> ***Global fights here***</div>
</div>

<div class="popup" id="divPopup">
    <button type="button" class="btnClose" onclick="hidePopup()">X</button>
    <h1 class="text-center">:::WINNER:::</h1>
    <h2 class="text-center">GAGNANT!</h2>
    <div class="divRow">
        <img src="@ViewData["winnerImageUrl"]" alt="winner" class="imgSquare" />
    </div>
    <p class="text-center">@ViewData["winnerName"] Won against @ViewData["loserName"]</p>
</div>