@page
@model WikiWarriorsWebsite.Pages.SelectionModel
@{
    ViewData["Title"] = "Selection";
}

<form method="post">
    <input asp-for="Name" />
    <button type="submit">Search</button>
</form>

@if (Model.Results?.Count > 0)
{
    <h3>Results</h3>

    <ul>
        @foreach (var result in Model.Results)
        {
            <li>@result</li>
        }
    </ul>
}






